<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid" style="max-width:1040px">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/administrator" class="navbar-brand">MabesForex <small style="font-size:12px">Secure Area</small></a>
    </div>
    <div class="collapse navbar-collapse" id="main-menu">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/rebates">Rebates</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Finance <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/finance/deposit">Deposit</a></li>
            <li><a href="/finance/withdrawal">Withdrawal</a></li>
            <li><a href="/finance/transfer-balance">Transfer Balance</a></li>
            <li><a href="/finance/transaction-status">Transaction Status</a></li>
          </ul>
        </li>
        {# <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Promotion <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Free 100% Deposit</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Get Bonus <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Bonus 30%</a></li>
            <li><a href="#">Bonus 45%</a></li>
            <li><a href="#">Club Bonus</a></li>
            <li><a href="#">Coupon Bonus</a></li>
            <li><a href="#">No Deposit Bonus</a></li>
          </ul>
        </li> #}
      </ul>
    </div>
  </div>
</nav>
