vendor/*
composer.lock
.idea/*
app/Data/*.htm
app/Backup/*
!app/Backup/Statement
!app/Backup/.gitkeep
app/Backup/Statement/*
!app/Backup/Statement/.gitkeep
app/Logs/*.log
app/Templates/Cache/*
!app/Templates/Cache/.gitkeep
app/Config/Config.php
