{% extends 'base.twig' %}

{% block pagetitle %}Administrator{% endblock %}

{% set adminTemplate = true %}
{% set withoutHeader = true %}
{% set withoutFooter = true %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Withdrawal - x Request(s)</div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered" data-render-table>
            <thead>
              <tr>
                <td valign="middle" class="text-center">Code</td>
                <td valign="middle" class="text-center">Account</td>
                <td valign="middle" class="text-center">Amount</td>
                <td valign="middle" class="text-center">Transfer From</td>
                <td valign="middle" class="text-center">Transfer To</td>
                <td valign="middle" class="text-center">Contact</td>
                <td valign="middle" class="text-center">Status</td>
                <td valign="middle" class="text-center" width="150px">Action</td>
              </tr>
            </thead>
            <tr>
              <td valign="middle" class="text-center">
                <span class="ticketID"><strong>W11501080031</strong></span>
                <br>
                <span class="year">2015-01-08</span>
                <br>
                <span class="hour">11:22:07</span>
              </td>
              <td valign="middle" class="text-center">
                <span class="accNumber">1380616</span>
                <br>
                <span class="accName">AGUS RULIYANTO</span>
                <br>
                <span class="accStatus">Non Member</span>
              </td>
              <td valign="middle" class="text-center">
                <span class="amount">USD 9</span>
              </td>
              <td valign="middle" class="text-center">
                <span class="accNumber">1380616</span>
                <br>
                <span class="accName">AGUS RULIYANTO</span>
                <br>
                <span class="accStatus">Non Member</span>
              </td>
              <td valign="middle" class="text-center">
                <span class="accNumber">1380616</span>
                <br>
                <span class="accName">AGUS RULIYANTO</span>
                <br>
                <span class="accStatus">Non Member</span>
              </td>
              <td valign="middle" class="text-center">
                <span class="email">agusrulianto@hotmail.com</span>
                <br>
                <span class="phone">+62341654576</span>
              </td>
              <td valign="middle" class="text-center">
                <span class="status"><a href="#">Waiting</a></span>
                <br>
                <span class="year">2015-01-08</span>
                <br>
                <span class="hour">11:22:07</span>
              </td>
              <td valign="middle" class="text-center">
                <div class="btn-group btn-group-justified btn-group-xs">
                  <a href="#" class="btn btn-primary">Set Done</a>
                  <a href="#" class="btn btn-primary">View Status</a>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
