{% extends 'base.twig' %}

{% block pagetitle %}Financial Operation{% endblock %}

{% block content %}
{# DEBUG: USE REAL CONTENT #}
{% include 'Components/_paragraph.twig' with {'title_content': 'Finance', 'content': 'Gunakan fitur-fitur dibawah ini sebagai sarana penunjang aktivitas trading anda. Kami telah merancang fitur-fitur ini agar dapat digunakan dengan mudah. Jika anda mengalami kesulitan, silahkan hubungi customer support kami.'} %}
<div class="row marketing">
  <div class="col-sm-3">
    <a href="/finance/deposit" class="center-block text-center">
      <img class="img-responsive center-block" src="/images/deposit.jpg" alt="">
      <span>Deposit</span>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="/finance/withdrawal" class="center-block text-center">
      <img class="img-responsive center-block" src="/images/withdrawal.jpg" alt="">
      <span>Withdrawal</span>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="/finance/transfer-balance" class="center-block text-center">
      <img class="img-responsive center-block" src="/images/transfer-balance.jpg" alt="">
      <span>Transfer Balance</span>
    </a>
  </div>
  <div class="col-sm-3">
    <a href="/finance/transaction-status" class="center-block text-center">
      <img class="img-responsive center-block" src="/images/transfer-status.jpg" alt="">
      <span>Transaction Status</span>
    </a>
  </div>
</div>
{% endblock %}
