{% extends 'base.twig' %}

{% block pagetitle %}Welcome{% endblock %}

{% block content %}
<div class="jumbotron welcome-image" style="background-image:url('http://placehold.it/700x204')">
  <h2>MabesForex <small>Secure Area</small></h2>
  <p>Selamat datang di halaman bla bla bla</p>
</div>
{# DEBUG: USE REAL CONTENT #}
{% include 'Components/_paragraph.twig' with {'lead_content': 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam optio, adipisci explicabo consequatur et porro, voluptates vitae nam error, veniam quis. Quos quasi rem aut. Deserunt fugit obcaecati eligendi magnam.'} %}
<div class="row marketing">
  <div class="col-xs-6">
    <a href="/rebates" class="center-block text-center">
      <img class="img-responsive center-block" src="http://placehold.it/128x128" alt="">
      <span>Check Rebates</span>
    </a>
  </div>
  <div class="col-xs-6">
    <a href="/finance" class="center-block text-center">
      <img class="img-responsive center-block" src="http://placehold.it/128x128" alt="">
      <span>Financial Operation</span>
    </a>
  </div>
</div>
{# DEBUG: USE REAL CONTENT #}
{% include 'Components/_paragraph.twig' with {'content': 'Lorem <a href="#">ipsum dolor</a> sit amet, consectetur adipisicing elit. Laboriosam consectetur repudiandae architecto quae, recusandae, ut, natus reiciendis odio dolor vero commodi nam! Voluptatum voluptatem eum obcaecati praesentium, doloribus vel saepe deserunt cum adipisci! Facilis maxime eaque magni, quo, commodi nostrum ipsa maiores officia unde, dolorem veritatis! Dolorem ad maiores odio, impedit laborum cum numquam, in, ab sapiente suscipit quod nulla, veritatis iste quaerat nesciunt. Quibusdam deserunt voluptatem omnis aspernatur, porro dolorum. Ad harum quo animi illum, nulla sequi quasi doloribus vero atque ex quidem nemo odio fuga beatae distinctio praesentium adipisci consequuntur natus temporibus quisquam eos officia numquam. Labore, tempore.'} %}
{% endblock %}
