<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
  <title>{% block pagetitle %}Home{% endblock %} - MabesForex Secure Area</title>
  <link href="styles/main.css" rel="stylesheet">
</head>
<body>
	{% if not withoutHeader %}
  	{% include 'Components/_header.twig'%}
  {% endif %}
  {% if adminTemplate %}
  	{% include 'Components/_headerAdmin.twig'%}
  {% endif %}
  <div class="{% if adminTemplate %}container-fluid{% else %}container{% endif %}"{% if adminTemplate %} style="max-width:1040px"{% endif %}>
  {% block content %}{% endblock %}
  </div>
	{% if not withoutFooter %}
  	<div class="container">
  	{% include 'Components/_footer.twig'%}
  	</div>
  {% endif %}
  <script src="/scripts/vendor.js" charset="utf-8"></script>
  <script src="/scripts/jquery.dataTables.min.js"></script>
  <script src="/scripts/datatables-bootstrap3.js"></script>
  <script src="/scripts/main.js" charset="utf-8"></script>
  {% block inlinejs %}{% endblock %}
</body>
</html>
